body {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

/* Normalize the focus style to match Chrome on OS X. */
:focus {
    border-radius: 1px;
    box-shadow: 0 0 0 1px rgba(57, 153, 255, 0.25) inset,
        0 0 0 2px rgba(57, 153, 255, 0.40),
        0 0 0 3px rgba(57, 153, 255, 0.25);
}
