/* Brand. */

$brand: "webapp";

/* Colours. */

//TODO: remove alts and make lists instead
//TODO: make brand color lists dark colors, and add a "brand-accents" list for lighter colours
//TODO: dark-on-light bg colors list in increasing darkness

// Brand colours.
$brand-color: #f44336;
$brand-color-alt: #ffca28;

// Dark-on-light fore- and background colours, and alternatives.
$fg-color: #212121;
$bg-color: white;
$fg-color-alt: $fg-color;
$bg-color-alt: #f2f2f2;

// Light-on-dark fore- and background colours, and alternatives.
$fg-color-inv: white;
$bg-color-inv: $brand-color;
$fg-color-inv-alt: $fg-color-inv;
$bg-color-inv-alt: $brand-color-alt;

// Text colours.
$text-color: $fg-color;
$text-background: $bg-color;
$text-color-inv: $fg-color-inv;
$text-background-inv: $bg-color-inv;

// Code colours.
$code-color: $fg-color;
$code-background: #f5f2f0;

/* Typography. */

$text-family: 'Roboto', 'San Fransisco', 'Helvetica Neue', 'Calibri Light', sans-serif;
$text-size: 1.8rem; 
$text-line-height: 1.5;
$text-size-laptop-and-up: 2.1rem;
$text-line-height-laptop-and-up: 1.58;
$text-weight-normal: 300;
$text-weight-bold: 500;

/* Scaling. */

$scale-step: 1.25;
