/* Default menubar configuration. */

$menubar-brand-font-size: 2em !default;
$menubar-menu-link-padding: 0.5em 1em !default;
$menubar-menu-link-margin: 3vw !default;
$menubar-menu-link-border-width: 2px !default;
$menubar-menu-link-active-border-color: red !default;
$menubar-menu-link-hover-border-color: opacify(rgba(255,0,0,0), 0.5) !default;

/* Menubar. */

#brand {

    display: inline-block;
    font-size: $menubar-brand-font-size;
    color: $brand-color;

}

#menu {

    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    
    @media #{$tablet-and-up} {
        text-align: right;
    }

    a {

        display: inline-block;
        padding: $menubar-menu-link-padding;
        border-bottom: $menubar-menu-link-border-width solid transparent;

        &:not(:first-child) {
            margin-left: $menubar-menu-link-margin;
        }
        &:hover {
            border-bottom-color: $menubar-menu-link-hover-border-color;
        }
        &.active {
            border-bottom-color: $menubar-menu-link-active-border-color;
        }
        
    }

}
